body{

    height: 100vh;
    margin: 0;
    background-color: black;
}
main{
    background-color:gray;
    align-items: center;
    width: 80%;
    margin: 20%;
}
ul{
    margin: 0%;
    padding: 0%;
}
li{
    color: black;
    list-style: none;
    
}

a{
    text-decoration: none; 
}
a:hover{
    color: red;
}
a:visited{
    color: chartreuse;
}
